* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background-color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}



.header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.179);
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.037);
    position: relative;
}

.header .heading-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    margin-bottom: 12px;
    cursor: default;
}

.heading-text span {
    background-color: rgb(217, 255, 0);
    display: inline-block;
    border-radius: 2px;
    padding: 0 4px;
}

.header input {
    display: block;
    width: 90%;
    padding: 12px 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.235);
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

.header button {
    width: 120px;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 12px;
    border: none;
    outline: 1px solid black;
    transition: all 0.2s ease;
}

.header #search-btn:hover {
    background-color:rgb(51, 255, 0);
}
.header #clear-btn:hover {
    background-color: red;
}
.header button:active {
    color: blue;
}

.header .notification-msg {
    width: 90%;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}


.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.432);
    border: 2px solid rgba(0, 0, 0, 0.123);
    border-radius: 12px;
    margin-bottom: 40px;
    transition: all 0.2s ease;
    opacity: 0;
}

.user-wrapper .user-info-card {
    /* border: 2px solid red; */
    min-height: 460px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    /* gap: 80px; */
    margin-bottom: 40px;
}

.user-info-card .img-wrapper {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.user-card .bio {
    margin-bottom: 12px;
    text-align: center;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-card {
    width: 300px;
    /* border: 2px solid orange; */
   
}
.user-card .nameWrapper {
    width: 250px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}
.nameWrapper .usernameInCard {
    display: block;
    text-align: right;
    opacity: 0.7;
    font-size: 16px;
}

.user-card .followers-wrapper {
    /* border: 1px solid black; */
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.694);
    font-size: 14px;
}

.followers-wrapper .count {
    color: black;
}

.followers-wrapper .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.639);
}

.user-info-card .user-details {
    width: 600px;
    height: 400px;
    /* border: 2px solid blue; */
    padding: 20px;
}

.user-details .row {
    margin-bottom: 12px;    
}


.row label {
    font-weight: bold;
    display: inline-block;
    width: 200px;
}
.organizations {
    
    display: inline-flex;
    align-items: center;
    justify-content: left;
}

.row .organizationAvatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 50%;
}
.organizationAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Repository Part */

.repo-wrapper .section-heading {
    
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.234);
}

.repo-wrapper .personal-repos, .repo-wrapper .forked-repos {
    /* border: 2px solid green; */
    width: 100%;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.personal-repos .repo, .forked-repos .repo {
    /* border: 2px solid red; */
    width: 48%;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.206);
   margin-bottom: 20px;
   padding: 8px 10px;
   border-radius: 4px;
   overflow-y: hidden;
}

.repo .repo-name {
    font-size: 20px;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.869);
}
.repo .label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.921);
    display: inline-block;
    margin-top: 8px;
  
}
.repo .repo-link {
    font-size: 14px;
    display: inline-block;
    margin-top: 8px;
}
















@media screen and (max-width: 1012px){
   .user-info-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .user-card {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.242);
   }

   .user-info-card .user-details {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
   }
   .personal-repos .repo, .forked-repos .repo {
    width: 100%;
   }
  
}

@media screen and (max-width: 712px) {
    .user-details .row {
        padding-bottom: 12px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.152);
       }
    
       .row label {
        width: 100%;
        display: block;
        margin-bottom: 6px;
       }

      
}